extends ../layouts/default

block content
	.container: .my-3.text-center
		h1.mb-5 Building Design
		
		img(src='/images/building/hero.png', width='100%')
		
		h2.my-3 We Design & Specialise In
		ul.list-unstyled
			li Residential Drawings
			li Extensions & Renovations
			li Service Station Service Centers and Upgrades
			li Offices, Clubs And Other Commercial Projects
			li Drafting Services
			li Project Management
			
	.container
		.row
			.col-12.col-sm-4
				img(src='/images/landscape.jpg', width='100%')
				p New Dwellings 
					
			.col-12.col-sm-4
				img(src='/images/landscape.jpg', width='100%')
				p Renovations 
				
			.col-12.col-sm-4
				img(src='/images/landscape.jpg', width='100%')
				p Commercial 
				
		.row
			.col-12.col-sm-4
				img(src='/images/landscape.jpg', width='100%')
				p Service Stations 
			.col-12.col-sm-4
				img(src='/images/landscape.jpg', width='100%')
				p Drafting  
			.col-12.col-sm-4
				img(src='/images/landscape.jpg', width='100%')
				p Project Management 
				
