extends ../layouts/default

block content
	.container: .my-3
		div.pos-relative
			h1.mb-5.title-abs Building Design
			img(src='/images/building/hero.png', width='100%')
		
		.text-center
			h2.my-3 We Design & Specialise In
			ul.list-unstyled
				li Residential Drawings
				li Extensions & Renovations
				li Service Station Service Centers and Upgrades
				li Offices, Clubs And Other Commercial Projects
				li Drafting Services
				li Project Management
				li Town Planning
			
	.container.text-center.text-muted
		.row
			.col-12.col-sm-4
				img(src='/images/building/dwellings.png', width='100%')
				p.mt-2.mb-4 New Dwellings 
					
			.col-12.col-sm-4
				img(src='/images/building/bathroom.jpg', width='100%')
				p.mt-2.mb-4 Renovations 
				
			.col-12.col-sm-4
				img(src='/images/building/commercial.png', width='100%')
				p.mt-2.mb-4 Commercial 
				
		.row
			.col-12.col-sm-4
				img(src='/images/building/drafting.png', width='100%')
				p.mt-2.mb-4 Drafting  
			.col-12.col-sm-4
				img(src='/images/building/planning.png', width='100%')
				p.mt-2.mb-4 Town Planning
			.col-12.col-sm-4
				img(src='/images/building/management.png', width='100%')
				p.mt-2.mb-4 Project Management 
				
