extends ../layouts/default

block content
	
	.container: .my-3
		div.pos-relative
			h1.mb-5.title-abs Engineering Surveying
			img(src='/images/survey/hero.png', width='100%')
		
		.text-center
			h2.my-3 We Specialise In
			ul.list-unstyled
				li Constructions Set outs
				li Road Construction Surveys
				li Detail Contour Plans
				li Machine Control Models
				li Site Calibrations
				li Conformance Reports
				li UTS Setup and Control
				li Engineering Design
				li As Built Surveys
			
		.container
			.row
				.col-12.col-sm-4
					img(src='/images/survey/construction.png', width='100%')
					p Constructions Set outs 

				.col-12.col-sm-4
					img(src='/images/survey/road.png', width='100%')
					p Road Construction Surveys 

				.col-12.col-sm-4
					img(src='/images/survey/machine.png', width='100%')
					p Machine Control 

			.row
				.col-12.col-sm-4
					img(src='/images/survey/design.png', width='100%')
					p Engineering Design
				.col-12.col-sm-4
					img(src='/images/survey/model.png', width='100%')
					p Detail Contour Plans  
				.col-12.col-sm-4
					img(src='/images/survey/management.png', width='100%')
					p Project Management
					
