extends ../layouts/default

block content
	.container: .my-3
		h1 Hire

		img(src='/images/hire/hero.png', width='100%')
		
		h4.my-4 We hire a full range of machine control equipment including;
		ul
			li Universal total stations
			li GPS base station receiver
			li Radios
			li Grader prisms
			
