extends ../layouts/index

block content
	
	div.site-wrapper
		div.site-wrapper-inner
			div.cover-container
				//div.masthead
					div.inner
					
				div.inner.cover
					// img(src='/images/landscape.png', width='100%')
					//.container: .jumbotron
					.container: .text-center.my-3
						img.w-100.mb-4(src='/images/allspec-logo.svg')
						h1.sr-only Allspec &amp; Partners
						h2.cover-heading.mb-3 The Full Spectrum Of Development
						//p.lead Call Us Today (02) 6945 9251 | 0410 659 795.
						p.lead 
							span.d-block.d-md-inline-block.mr-md-2 Call Us Today 
							span.d-block.d-md-inline-block (02) 69 459 251
						p.lead 58 Fitzroy Street, TUMUT NSW 2720
						p <a href="\contact" class="btn btn-lgx btn-primary">Contact Us</a> &nbsp; &nbsp; <a href="\about-us" class="btn btn-lgx btn-outline-secondary">About Us</a>
						
					.container: .text-center.my-3.d-none
						h2 Where are we
						p Allspec & Partners are located in Tumut NSW we provide project management for all your building and land developments to Tumut, Tumbarumba and Gundagai.
						p We can also provide provide project management services to surrounding areas and throught Australia.
						hr
						
						p Allspec & Partners offer a complete one-stop solution from design through to construction and we cater for projects of all types and sizes.
						p Our vision is to provide the highest quality service to our clients by fostering strong ethos of striving for performance, quality and service in all its building and client relation activities. We are dedicated to providing quality planning, construction, technical and management services to our customers. We will strive to implement a long term relationship with our clients, based on safety, quality, timely service and in anticipation of their needs.
				
						p With a team of talented and experienced building designers, engineers, consultants and construction partners collaborating on your project through our innovative system, we can ensure you receive top quality energy efficient designs, which satisfy local council requirements and reliable customer service with quality support. We focus heavily on meeting project construction budgets through our preliminary costing and tender services, which are designed to save our clients tens of thousands of dollars and give peace of mind throughout the project.
				
						p From modern new homes and renovations to practical commercial buildings and developments, we have experienced professionals to meet your needs from a design, compliance and budget perspective.
				
						p Allspec & Partners offers quality architectural design services for an affordable price. We specialise in both commercial and residential construction projects. Our excellent pool of architects and building designers can reach you, whether you are in Tumut, Adelong, Tumbarumba, Gundagai or Wagga Wagga. Allspec & Partners combine the services of experienced surveyors, building designers and engineers. This integrated approach allows an expert from each field to offer their foresight at each stage. The result is less mistakes, more efficient service and faster approvals.
				
						p We are a team committed to delivering quality yet affordable drafting and engineering services. All our draftsmen and engineers have experience in endorsing projects to local councils. They’re knowledgeable and updated of the codes and BCA requirements in your area. Through this, your projects are swiftly approved by authorities.
				
						h2 We Design & Specialise In:
						ul
							li Residential Drawings
							li Extensions & Renovations
							li Service Station Upgrades
							li Offices, Clubs And Other Commercial Projects
							li Drafting Services
							li Engineering Services
							
							
				div.mastfoot: div.inner
					p &copy; 2017 Allspec & Partners
		
		// if user && user.canAccessKeystone
		// 	p
		// 		a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		// else
		// 	p We have created a default Admin user for you with the email <strong>allspec@allspecap.com</strong> and the password <strong>qwas12zx</strong>.
		// 	p
		// 		a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
		// 		|  to use the Admin UI.
		// hr
		// p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
		// 	| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
			

			
